.counter {
  font-size: 24px;
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--text);
  background: var(--bg);
  border: 2px solid transparent;
  transition: border-color 0.3s;
  margin-bottom: 24px;

  &:hover {
    border-color: black;
  }
  &:focus-visible {
    outline: 2px solid var(--text);
    outline-offset: 2px;
  }
}

.hero {
  position: relative;
  background-color: #f0f0f0;
}

label {
  border: 1px solid red;
}
