:root {
  --bg: #fff;
  --surface: #f2f2f2;
  --text: #222;
  --accent: rgb(225, 209, 225);

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: clamp(16px, 1.5vw, 24px);
  color-scheme: light dark;
  background: var(--bg);
  color: var(--text);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #1a1a1a;
    --surface: #2e2e2e;
    --accent: #3e213f;
    --text: #eeeeee;
  }
}

body {
  margin: 0;
  display: flex;
  place-content: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
}

.form-box {
  background: var(--surface);
  border-radius: 12px;
}

.form-box input {
  padding: 5px;
}

input {
  font-size: inherit;
  font: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid var(--text);
}

button {
  font-size: inherit;
  font: system-ui, Avenir, Helvetica, Arial, sans-serif;
  padding: 0.5rem;
  border: 1px solid var(--text);
  border-radius: 8px;
  cursor: pointer;
}

.monthly-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
}

.row-item {
  background: var(--surface);
  padding: 1rem;
  border-radius: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.button-group {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
  width: 100%;
}

.button-group button.active {
  background: var(--accent);
  border-color: var(--text);
  font-weight: bold;
}

.custom-input-group {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 8px;
}

.custom-input-group input {
  width: 100%;
  box-sizing: border-box;
}

.row-item.total {
  grid-column: 1 / -1;
  background: var(--accent);
  margin-top: 0.5rem;
}

.hero img {
  width: 15%;
  height: auto;
}
